.table {
    margin: auto;
    display: flex;
}

.price-card:first-child {
   margin-right: 15px;
}
.price-card:last-child {
   margin-left: 15px;
}
.price-card {
   background: #334247;
   width: 380px;
   height: 770px;
   box-sizing: border-box;
   margin: auto;
   

   &__variants {
      text-align: center;
      color: white;
      font-weight: 700;
      font-size: 35px;
      line-height: 43px;
      padding-bottom: 0;
      margin-top: 33px;
      font-family: 'Montserrat';
   }

   &__title {
      text-align: center;
      color: white;
      font-size: 20px;
      line-height: 25px;
      margin-top: -47px;
      font-family: 'Montserrat';
      font-weight: 300;
   }

   &__price {
      width: 380px;
      height: 105px;
      background: #5BB189;
      color: white;
      justify-content: center;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 55px;
      line-height: 67px;
      font-family: 'Montserrat', sans-serif;
      margin-top: 33px;   

   }
.blue {
      background: #3A6BA5;
}

&__rectangle {
   width: 147px;
   height: 25px;
   text-transform: uppercase;
   color: white;
   background: #DC3F45;
   position: absolute;
   left: 56%;
   right: 9.5%;
   top: 17.71%;
   bottom: -22.29%;
   transform: rotate(45deg);
   display: flex;
   justify-content: center;
   align-items: center;

}
.orange {
   background: #EC632A;
}


   &__description {
      padding: 22px 25px;
      width: 327px;
      color: white;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      font-family: 'Montserrat';
      font-weight: 300;
   }

   &__advantages {
      color: white;
      margin-left: 20px;
      font-family: 'Montserrat';
      font-weight: 300;

      :first-child {
         margin-top: -23px ;
      }

     
   }

   .price-card__order-btn {
      width: 155px;
      height: 40px;
      color: white;
      background: #5BB189;
      border-radius: 20px;
      border: none;
      font-family: 'Montserrat';
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 35px;
          
   }
   
   .blue {
      background: #3A6BA5;
   }
   .orange {
      background: #EC632A;
   }


}




.advantages {
   padding: 16px 24px; 
   } 
   
.advantages:nth-child(odd) {
         background: #2A3438;
      }